<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="Configuration.ConnectionString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <!-- The BaseEndpoint setting must be replaced with the endpoint of the Resource Provider - use server's hostname instead of "localhost" -->
    <add key="ProviderConfiguration.BaseEndpoint" value="https://localhost:8080" />
    <!-- The BaseEndpointAdminExtension setting must be replaced with the endpoint of the Provider's Admin Extension - use server's hostname instead of "localhost" -->
    <add key="ProviderConfiguration.BaseEndpointAdminExtension" value="https://localhost:8081" />
    <!-- The BaseEndpointTenantExtension setting must be replaced with the endpoint of the Provider's Tenant Extension - use server's hostname instead of "localhost" -->
    <add key="ProviderConfiguration.BaseEndpointTenantExtension" value="https://localhost:8081" />
    
    <!-- The IsCloudEnvironment setting is used by the SDK Storage Provider to determine the type of storage being used. -->
    <add key="Microsoft.WindowsAzure.Environment.IsCloudEnvironment" value="true" />
    <add key="Configuration.PreferDatabaseConfig" value="False" />
    <add key="ProviderConfiguration.ApiVersion" value="2014-04-01" />
    <add key="ProviderConfiguration.Manifest.DefaultEndpointTimeout" value="00:01:00" />
    <add key="ProviderConfiguration.Manifest.DefaultCommandTimeout" value="00:00:30" />
    <!-- TODO: Provide the adequate credentials for resource provider configuration -->
    <!-- <add key="Configuration.Manifest.ManifestEndpointCredential" value="" /> -->
    <!-- <add key="Configuration.Manifest.AdminEndpointCredential" value="" /> -->
    <!-- <add key="Configuration.Manifest.TenantEndpointCredential" value="" /> -->
    <!-- <add key="Configuration.Manifest.EventEndpointCredential" value="" /> -->
    <!-- <add key="Configuration.Manifest.GalleryEndpointCredential" value="" /> -->
    <!-- <add key="Configuration.Manifest.QuotaEndpointCredential" value="" /> -->
    <!-- <add key="Configuration.Manifest.UsageEndpointCredential" value="" /> -->
    <add key="ProviderConfiguration.EventsConnectionString" value="Data Source=.;Initial Catalog=JWTestExtensionResourceProvider.Events;Integrated Security=SSPI;" />
    <add key="ProviderConfiguration.UsageConnectionString" value="Data Source=.;Initial Catalog=JWTestExtensionResourceProvider.Usage;Integrated Security=SSPI;" />
    <add key="ProviderConfiguration.StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--Remove WebDAVModule to allow DELETE and PUT methods -->
      <remove name="WebDAVModule" />
      <remove name="FormsAuthentication" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
